.paint-editor-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.paint-editor-canvas {
    position: relative;
    flex-grow: 1;
}
